.focus {

	/* Your css thingys here*/
      border-top: solid 5px black;
 
      /* Your position values here */
      left: 0;
      top: 0px;

      position: absolute;     
      z-index: 10;
      
      /* Your transformation function here */
      -webkit-transition: all cubic-bezier(.2, .2, .45, 1.5) .5s;
      -moz-transition: all cubic-bezier(.2, .2, .45, 1.5) .5s;
      -ms-transition: all cubic-bezier(.2, .2, .45, 1.5) .5s;
      transition: all cubic-bezier(.2, .2, .45, 1.5) .5s;
}